<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=TP2NET;Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringExpress" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=TP2NET; Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringServerISI" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=TP2NET; Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringIntegratedSecurity" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=TP2NET; Integrated Security=true;"/>
  </connectionStrings>
</configuration>